[user]
    name = aRustyDev
    email = 36318507+aRustyDev@users.noreply.github.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINHgo2d9L1pQ26RFCCWD3m1paeEtc3J1TJ6E+yZeDjpV

[commit]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[includeIf "hasconfig:remote.*.url:https://sscm.gus.cisco.com/**"]
    name = Adam Smith
    email = adamsm@cisco.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFUFKvAloldeFGPMnfGDDilNb7BwxqOfaZzy/7qSEYSs

[includeIf "hasconfig:remote.*.url:https://git.va.th.ten/**"]
    name = asmith
    email = adam.smith@thops.io
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHKtTUfrQotS79osFP+q9k+JzeBo5M+r4ZfSfP3xwyf1

[includeIf "hasconfig:remote.*.url:https://github.com/darkhuntlabs/**"]
    name = Adam Smith
    email = adam.smith@darkhuntlabs.com
