[user]
    name = "op://SANS/es3f7nrfsyozjzdjfmejficihu/username"
    email = "op://SANS/es3f7nrfsyozjzdjfmejficihu/email"
    signingkey = "op://SANS/es3f7nrfsyozjzdjfmejficihu/public key"

[commit]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

; === Cisco Repos ===
[includeIf "hasconfig:remote.*.url:git@sscm.gus.cisco.com/**"]
    name = "op://Cisco/fkkv2ntnwxdz3pmbx5nd6tnqgy/username"
    email = "op://Cisco/fkkv2ntnwxdz3pmbx5nd6tnqgy/email"
    signingkey = "op://Cisco/fkkv2ntnwxdz3pmbx5nd6tnqgy/public key"

[includeIf "hasconfig:remote.*.url:https://sscm.gus.cisco.com/**"]
    name = "op://Cisco/fkkv2ntnwxdz3pmbx5nd6tnqgy/username"
    email = "op://Cisco/fkkv2ntnwxdz3pmbx5nd6tnqgy/email"
    signingkey = "op://Cisco/fkkv2ntnwxdz3pmbx5nd6tnqgy/public key"

; === CFS Repos ===
[includeIf "hasconfig:remote.*.url:https://git.va.th.ten/**"]
    name = "op://Raytheon/pf7qqkab7nz7ufmhvjirtuf6be/username"
    email = "op://Raytheon/pf7qqkab7nz7ufmhvjirtuf6be/email"
    signingkey = "op://Raytheon/pf7qqkab7nz7ufmhvjirtuf6be/public key"

; === DHL Repos ===
[includeIf "hasconfig:remote.*.url:https://github.com/darkhuntlabs/**"]
    name = "op://Dark Hunt Labs/ihka7j6o5usyyjziuledqfmcq4/username"
    email = "op://Dark Hunt Labs/ihka7j6o5usyyjziuledqfmcq4/email"
    signingkey = "op://Dark Hunt Labs/ihka7j6o5usyyjziuledqfmcq4/public key"

; === Personal Repos ===
[includeIf "hasconfig:remote.*.url:https://github.com/aRustyDev/**"]
    name = "op://SANS/es3f7nrfsyozjzdjfmejficihu/username"
    email = "op://SANS/es3f7nrfsyozjzdjfmejficihu/email"
    signingkey = "op://SANS/es3f7nrfsyozjzdjfmejficihu/public key"

[includeIf "hasconfig:remote.*.url:git@github.com/aRustyDev/**"]
    name = "op://SANS/es3f7nrfsyozjzdjfmejficihu/username"
    email = "op://SANS/es3f7nrfsyozjzdjfmejficihu/email"
    signingkey = "op://SANS/es3f7nrfsyozjzdjfmejficihu/public key"
