## Dynamic configuration
http:
  routers:
    # Parent router with authentication
    api:
      rule: "Host(`api.localhost`)"
      middlewares:
        - authn
        - authz
      entryPoints:
        - websecure

    # Parent router with authentication
    authn:
      rule: "Host(`id.localhost`)"
      middlewares:
        - authn
        - authz
      entryPoints:
        - websecure

    # Parent router with authentication
    authz:
      rule: "Host(`authz.localhost`)"
      middlewares:
        - authn
        - authz
      entryPoints:
        - websecure

    # Parent router with authentication
    notes:
      rule: "Host(`notes.localhost`)"
      middlewares:
        - authn
        - authz
      entryPoints:
        - websecure

    # Parent router with authentication
    memory:
      rule: "Host(`memory.localhost`)"
      middlewares:
        - authn
        - authz
      entryPoints:
        - websecure

    # Parent router with authentication
    docs:
      rule: "Host(`doc.localhost`)"
      middlewares:
        - authn
        - authz
      entryPoints:
        - websecure

    # Parent router with authentication
    tools:
      rule: "Host(`tool.localhost`)"
      middlewares:
        - authn
        - authz
      entryPoints:
        - websecure

    # Child router for admin users
    api-admin:
      rule: "HeadersRegexp(`X-User-Role`, `admin`)"
      service: admin-service
      parentRefs:
        - api

    # Child router for regular users
    api-user:
      rule: "HeadersRegexp(`X-User-Role`, `user`)"
      service: user-service
      parentRefs:
        - api

    # Child router for regular users
    tool-time:
      rule: "Headers(`service`, `time`)"
      service: user-service
      middlewares:
        - mcp
      parentRefs:
        - api

  middlewares:
    authn:
      forwardAuth:
        address: "http://id.localhost"
        authResponseHeaders:
          - X-User-Role
          - X-User-Name
    mcp:
      replacePath:
        path: "/mcp"
    test-errors:
      errors:
        status:
          - "500"
          - "501"
          - "503"
          - "505-599"
        service: serviceError
        query: "/{status}.html"

  services:
    admin-service:
      loadBalancer:
        servers:
          - url: "http://admin-backend:8080"

    user-service:
      loadBalancer:
        servers:
          - url: "http://user-backend:8080"
