---
# docker-compose.yml
name: mcp-global

include:
  - path: modules/ingress/traefik.yaml
  - path: modules/notes/zettelkasten.yaml

networks:
  global:

configs:
  graphiti:
    file: ./config/graphiti.yaml
