# === === === === === === === === === ===
#  Root Parent Routers
# === === === === === === === === === ===
http:
  routers:
    # Parent router with authentication
    authn:
      rule: "Host(`id.localhost`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 10

    # Parent router with authentication
    authz:
      rule: "Host(`authz.localhost`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 10

    # Parent router with authentication
    notes:
      rule: "Host(`notes.localhost`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 10

    # Parent router with authentication
    db:
      rule: "Host(`db.localhost`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 10

    # Parent router with authentication
    memory:
      rule: "Host(`memory.localhost`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 10

    # Parent router with authentication
    docs:
      rule: "Host(`doc.localhost`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 10

    # Parent router with authentication
    tools:
      rule: "Host(`tool.localhost`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 10

    mcp:
      rule: "PathPrefix(`/mcp`)"
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - mcp-cors@file
        - mcp
      priority: 100

    ui:
      rule: "PathPrefix(`/ui`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 100

    # Health check base router
    health:
      rule: "PathPrefix(`/health`)"
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        # - health-headers
        - mcp
      priority: 100

    # Parent router with authentication
    api:
      rule: "PathPrefix(`/api`)"
      entryPoints:
        - websecure
      tls: {}
      priority: 100
