---
# docker-compose.yml
name: mcp-global

include:
  - path: modules/ingress/traefik.yaml

  - path: modules/db/falkor.yaml
  - path: modules/db/postgres.yaml
  - path: modules/db/qdrant.yaml
  - path: modules/db/surrealdb.yaml

  - path: modules/llm/ollama-cpu.yaml
  - path: modules/llm/ollama-pull.yaml

  - path: modules/mcp/global/dockerhub.yaml
  - path: modules/mcp/global/graphiti.yaml
  - path: modules/mcp/global/sequential-thinking.yaml
  - path: modules/mcp/global/time.yaml

  - path: modules/mcp/search/duckduckgo.yaml

  - path: modules/mcp/notes/zettelkasten.yaml

  - path: modules/mcp/docs/context7.yaml

  - path: modules/mcp/git/gitlab.yaml
  - path: modules/mcp/git/github.yaml

  - path: modules/mcp/workflow/checklist.yaml
  - path: modules/mcp/workflow/n8n.yaml

networks:
  global:
