Usage
To list bucket     - 'aws s3 ls s3://{{kit-2586}}filedropbucket --profile Team-{{kit-2586}}'
To upload file     - 'aws s3 cp FILE_NAME s3://{{kit-2586}}filedropbucket --profile Team-{{kit-2586}}'
To upload folder   - 'aws s3 cp FOLDER_NAME s3://{{kit-2586}}filedropbucket --recursive --profile Team-{{kit-2586}}'
To download file   - 'aws s3 cp s3://{{kit-2586}}filedropbucket/FILE_NAME /path/to/local/directory --profile Team-{{kit-2586}}'
To download folder - 'aws s3 cp s3://{{kit-2586}}filedropbucket/FOLDER_NAME /path/to/local/directory --recursive --profile Team-{{kit-2586}}'
