# $XDG_CONFIG_HOME/1Password/ssh/agent.toml
# This file is managed by justfile (./justfile)
# Manual changes may be overwritten on system rebuild

{{ #merged }}
# {{ key }}
[[ssh-keys]]
item = "{{ value }}"

{{ /merged }}
