# TODO

## SSH

| status | Task                                                       | notes          |
| ------ | ---------------------------------------------------------- | -------------- |
{{#todos}}
| `{{status}}` | [{{name}}][{{link}}]: {{summary}} |{{notes}}|
{{/todos}}

{{#links}}
- [{{name}}]: {{path}} "{{hint}}"
{{/links}}
