services:
  github:
    image: ghcr.io/github/github-mcp-server
    profiles: ["core", "git", "github", "repo"]
    container_name: github
    stdin_open: true # docker run -i
    tty: true # docker run -t
    labels:
      traefik.enable: true
      # Host(`mcp.${DOMAIN:-localhost}`) && PathPrefix(`/github`)
      traefik.http.routers.github.rule: PathPrefix(`/github`)
    environment:
      GITLAB_API_URL: https://gitlab.com/api/v4
      GITHUB_PERSONAL_ACCESS_TOKEN: "op://Developer/zed-github-mcp/token"
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 128M
        reservations:
          cpus: "0.1"
          memory: 64M
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep -q '[n]ode' || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
